<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TSY solver</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <style type="text/css">
        input.form-control {
            width: auto;
        }

        .table {
            width: auto;
        }

        a .glyphicon {
            color: #333;
        }
    </style>
</head>
<body>

<script src="../static/js/knockout-3.3.0.js"></script>
<script src="../static/js/jquery-1.12.1.js"></script>
<script src="../static/js/bootstrap.js"></script>

<div class="container-fluid">
    <div style="background: lightgrey" class="col-xs-12">
        <div class="form-group" style="margin-top: 10px">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#params-container" aria-expanded="false" aria-controls="params-container">
              Show/hide params
            </button>
        </div>
        <div class="collapse in" id="params-container">
            {% include 'params.html' %}
        </div>
    </div>
    {% include 'solution.html' %}
</div>

<script>

</script>

<!-- Solution JS -->
<script>
function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min)) + min;
}
_STORAGE_AREA_ID = 999;

var Train = function(id) {
    var self = this;

    self.id = ko.observable(id);
    self.cargos = ko.observableArray([]);
    self.initial_cargos = ko.observableArray([]);

    self.addCargo = function(cargo) {
        self.cargos.push(cargo);
    };

    self.removeCargo = function(cargo) {
        self.cargos.remove(cargo);
    };

    self.getCargoById = function(cargo_id) {
        var result = null;
        self.cargos().forEach(function(cargo) {
            if (cargo.id == cargo_id) result = cargo;
        });
        return result;
    };

    self.current_target_ids = ko.computed(function() {
        return self.cargos().map(function(cargo) {
            return cargo.target_train_id;
        });
    }, self);

    self.as_full_text = ko.computed(function() {
        cargos_info = (self.cargos().length > 0) ? '. Currently has cargos for trains: '+self.current_target_ids().join() : '. Currently has no cargos';
        return 'train #'+self.id()+cargos_info;
    }, self);
}

var Cargo = function(id, source_train_id, target_train_id, box_count) {
    this.id = id;
    this.source_train_id = source_train_id;
    this.target_train_id = target_train_id;
    this.box_count = box_count;

    this.as_text = ko.computed(function() {
        return this.source_train_id+'->'+this.target_train_id;
    }, this);

    this.as_full_text = ko.computed(function() {
        return this.box_count + ' boxes from train #'+this.source_train_id+' to train #'+this.target_train_id;
    }, this);
}


var Move = function(cargo_id, source_train_id, target_train_id, type, cost) {
    this.cargo_id = cargo_id;
    this.source_train_id = source_train_id;
    this.target_train_id = target_train_id;
    this.type = type;
    this.cost = cost;

    this.real_source = (type == 'split_end') ? 'storage area' : 'train #'+this.source_train_id;
    this.real_target = (type == 'split_begin') ? 'storage area' : 'train #'+this.target_train_id;

    this.as_text = ko.computed(function() {
        return 'cargo '+this.cargo_id+' from '+this.real_source+' to '+this.real_target+' , cost '+this.cost;
    }, this);
}


var Slot = function(num, trains, cost, revisits, moves) {
    var self = this;

    self.num = ko.observable(num);
    // self.moves = ko.observableArray(moves);
    self.trains = ko.observableArray(trains);
    self.cost = ko.observable(cost);
    self.revisits = ko.observableArray(revisits);
    self.moves = ko.observableArray(moves);

    // self.current_move_num = ko.observable(0);

    // self.reset = function(cargo) {
    //     self.current_move_num(0);
    // }.bind(self);

    self.as_text = ko.computed(function() {
        return 'Slot ' + self.num() + ': trains ' + self.trains().join();
    }, self);

    self.train_ids = ko.computed(function() {
        return self.trains();
    }, self);

    self.revisited_ids = ko.computed(function() {
        return self.revisits().map(function(revisit) { return revisit.train_id});
    }, self);

    self.getRevisitCost = function(train_id) {
        for (var i = 0; i < self.revisits().length; i++) {
            var revisit = self.revisits()[i];
            if (revisit.train_id == train_id)
                return revisit.cost;
        }

        return null;
    };
}

// Here's my data model
var SchedModel = function(slots) {
    var self = this;

    /* Main properties */
    self.trains = ko.observableArray([]);
    self.storage_area = new Train(_STORAGE_AREA_ID);
    // self.cargos = ko.observableArray([]);
    self.slots = ko.observableArray(slots);

    self.final_trains_visited_twice = ko.observableArray([]);
    self.final_trains_visited_ever = ko.observableArray([]);
    self.final_trains_visited_once = ko.observableArray([]);
    self.final_cost = ko.observable(0);

    self.current_slot_num = ko.observable(0);
    self.current_trains_visited_twice = ko.observableArray([]);
    self.current_trains_visited_ever = ko.observableArray([]);
    self.current_trains_visited_once = ko.observableArray([]);

    self.view_mode = ko.observable('start');
    self.is_viewing_progress = ko.computed(function() {
        return (self.view_mode() == 'progress');
    }, self);

    self.all_train_ids = ko.computed(function() {
        return self.trains().map(function(train) {
            return train.id();
        });
    }, self);

    self.slot_count = ko.computed(function() {
        return self.slots().length;
    }, self);

    self.slot_ids = ko.computed(function() {
        function range(start, end) {
            var foo = [];
            for (var i = start; i <= end; i++) {
                foo.push(i);
            }
            return foo;
        }
        return range(0,self.slot_count()-1);
    }, self);

    self.current_slot = ko.computed(function() {
        return self.slots()[self.current_slot_num()];
    }, self);

    self.current_trains_visited_never = ko.computed(function() {
        if (self.view_mode() == 'start') return self.all_train_ids();

        function diff(A,B) {
            return A.filter(function(x) { return B.indexOf(x) < 0 })
        }
        before_current = diff(self.all_train_ids(), self.current_trains_visited_ever());
        return diff(before_current, self.current_slot().trains());
    }, self);


    self.finished_slots = ko.computed(function() {
        return self.slots().slice(0,self.current_slot_num());
    }, self);

    self.current_cost = ko.computed(function() {
        sum = 0;
        self.finished_slots().forEach(function(slot) {
            sum += slot.cost();
        });
        return sum;
    }, self);

    self.current_slot_num.subscribe(function(newValue) {
        self.renderBeginOfSlot(newValue);
    });

    self.view_mode.subscribe(function(newValue) {
        if (newValue == 'start') self.renderBeginOfSlot(-1);
        if (newValue == 'progress') self.renderBeginOfSlot(self.current_slot_num());
        if (newValue == 'finish') self.renderBeginOfSlot(999);
    });

    self.getTrain = function(id) {
        return (id == _STORAGE_AREA_ID) ? self.storage_area : self.trains()[id];
    }.bind(self);

    self.renderBeginOfSlot = function(slot_num) {
        // reset all visit counters
        self.current_trains_visited_twice([]);
        self.current_trains_visited_ever([]);
        self.current_trains_visited_once([]);

        // reset all all current train and storage area cargos
        self.storage_area.cargos([]);
        self.trains().forEach(function(train) {

            function clone(obj) {
                var copy;

                // Handle the 3 simple types, and null or undefined
                if (null == obj || "object" != typeof obj) return obj;

                // Handle Date
                if (obj instanceof Date) {
                    copy = new Date();
                    copy.setTime(obj.getTime());
                    return copy;
                }

                // Handle Array
                if (obj instanceof Array) {
                    copy = [];
                    for (var i = 0, len = obj.length; i < len; i++) {
                        copy[i] = clone(obj[i]);
                    }
                    return copy;
                }

                // Handle Object
                if (obj instanceof Object) {
                    copy = {};
                    for (var attr in obj) {
                        if (obj.hasOwnProperty(attr)) copy[attr] = clone(obj[attr]);
                    }
                    return copy;
                }

                throw new Error("Unable to copy obj! Its type isn't supported.");
            }

            var cargos = clone(train.initial_cargos());
            train.cargos(cargos);
        });

        if (slot_num < 0) {
            var slots = [];
        }
        else {
            var slots = (slot_num > self.slot_count()) ? self.slots() : self.finished_slots();
        }

        ko.utils.arrayForEach(slots, function(slot) {
            ko.utils.arrayForEach(slot.trains(), function(train_id) {
                if (self.current_trains_visited_twice().includes(train_id))
                    alert('Train '+train_id+'visited > 2 times!');

                if (self.current_trains_visited_once().includes(train_id)) {
                    self.current_trains_visited_once.remove(train_id);
                    self.current_trains_visited_twice.push(train_id);
                }
                else {
                    self.current_trains_visited_ever.push(train_id);
                    self.current_trains_visited_once.push(train_id);
                }
            });

            // move boxes
            ko.utils.arrayForEach(slot.moves(), function(move) {
                var cargo = self.getTrain(move.source_train_id).getCargoById(move.cargo_id);
                self.getTrain(move.source_train_id).removeCargo(cargo);
                self.getTrain(move.target_train_id).addCargo(cargo);
            });

        });

        if (self.view_mode() == 'progress') {
            self.current_slot().trains().forEach(function(train_id) {
                if (self.current_trains_visited_once().includes(train_id))
                    self.current_trains_visited_once.remove(train_id);

                if (self.current_trains_visited_twice().includes(train_id))
                    self.current_trains_visited_twice.remove(train_id);
            });
        }
    }.bind(self);

    /* Model initialization */
    // self.tracks(tracks);
    // self.trains(trains);
    // self.cargos(cargos);

    // self.slots(slots);
    // self.recalcTrainVisits();
};

var SolutionGeneralInfoModel = function() {
    var self = this;
    self.solution_time = ko.observable(null);
    self.human_readable = ko.observable(null);

    self.solution = ko.observable(null);
    self.params = ko.observable(null);
};

function init_solution_from_json(params_json, solution_json) {
    var solution = JSON.parse(solution_json);
    var params = JSON.parse(params_json);
    var sched = solution.best_sched;

    genInfoModel.human_readable(solution.human_readable);
    genInfoModel.solution_time(solution.time);
    genInfoModel.solution(solution);
    genInfoModel.params(params);

    function get_train_id_from_repr_string(train_repr_string) {
        pos = train_repr_string.indexOf('#');
        return parseInt(train_repr_string.slice(pos+1));
    }


    var trains = [];
    for (var i = 0; i < params.train_count; i++) {
        trains.push(new Train(i));
    }
    params.cargos.forEach(function(c) {
        var cargo = new Cargo(c.source_train_id+'-'+c.target_train_id,c.source_train_id,c.target_train_id, c.box_count);
        trains[cargo.source_train_id].initial_cargos.push(cargo);
        trains[cargo.source_train_id].addCargo(cargo);
    });

    var slots = [];
    sched.slots.forEach(function(slot, num) {
        var train_ids = slot.trains.map(function(train_repr_string) {
            return get_train_id_from_repr_string(train_repr_string);
        });

        var moves = slot.moves.map(function(move) {
            source_train_id = (move.type == 'split_end') ? _STORAGE_AREA_ID : get_train_id_from_repr_string(move.source);
            target_train_id = (move.type == 'split_begin') ? _STORAGE_AREA_ID : get_train_id_from_repr_string(move.target);

            return new Move(get_train_id_from_repr_string(move.source)+'-'+get_train_id_from_repr_string(move.target),
                            source_train_id, target_train_id, move.type, move.cost);
        });

        slots.push(new Slot(num, train_ids, slot.cost, slot.revisits, moves));
    });

    schedModel.slots(slots);
    schedModel.trains(trains);
    schedModel.final_trains_visited_twice(sched.trains_visited_twice.map(function(train_str){return get_train_id_from_repr_string(train_str);}));
    schedModel.final_trains_visited_once(sched.trains_visited_once.map(function(train_str){return get_train_id_from_repr_string(train_str);}));
    schedModel.final_trains_visited_ever(sched.trains_visited_ever.map(function(train_str){return get_train_id_from_repr_string(train_str);}));
    schedModel.final_cost(sched.total_cost);
}

genInfoModel = new SolutionGeneralInfoModel();
ko.applyBindings(genInfoModel, $("#solution-general-info").get(0));

schedModel = new SchedModel();
ko.applyBindings(schedModel, $("#solution").get(0));

// params_json = '{"train_count":4,"earliest_arrivals":[-1,-1,-1,-1],"latest_departures":[999,999,999,999],"cargos":[{"source_train_id":0,"target_train_id":1,"box_count":101},{"source_train_id":1,"target_train_id":2,"box_count":102},{"source_train_id":2,"target_train_id":1,"box_count":1021},{"source_train_id":2,"target_train_id":0,"box_count":103},{"source_train_id":1,"target_train_id":3,"box_count":104}],"track_count":2,"max_slot_count":4,"track_to_track_move_costs":[[null,1],[1,null]],"storage_to_track_move_costs":[1,1],"track_to_storage_move_costs":[1,1],"objective_1_weight":3,"objective_2_weight":2,"objective_3_weight":1,"solution_method":"exact","beam_width":2}'
// solution_json = '{"best_sched":{"slots":[{"trains":["train #0","train #2"],"cost":1225,"revisits":[],"moves":[{"type":"split_begin","cost":101,"source":"train #0","target":"train #1","cargo":"#0-1 (101 boxes)"},{"type":"direct","cost":103,"source":"train #2","target":"train #0","cargo":"#2-0 (103 boxes)"},{"type":"split_begin","cost":1021,"source":"train #2","target":"train #1","cargo":"#2-1 (1021 boxes)"}]},{"trains":["train #0","train #1"],"cost":1331,"revisits":[{"cost":3,"train_id":0}],"moves":[{"type":"split_begin","cost":102,"source":"train #1","target":"train #2","cargo":"#1-2 (102 boxes)"},{"type":"split_begin","cost":104,"source":"train #1","target":"train #3","cargo":"#1-3 (104 boxes)"},{"type":"split_end","cost":1021,"source":"train #2","target":"train #1","cargo":"#2-1 (1021 boxes)"},{"type":"split_end","cost":101,"source":"train #0","target":"train #1","cargo":"#0-1 (101 boxes)"}]},{"trains":["train #2","train #3"],"cost":209,"revisits":[{"cost":3,"train_id":2}],"moves":[{"type":"split_end","cost":102,"source":"train #1","target":"train #2","cargo":"#1-2 (102 boxes)"},{"type":"split_end","cost":104,"source":"train #1","target":"train #3","cargo":"#1-3 (104 boxes)"}]}],"trains_visited_once":["train #1","train #3"],"total_cost":2765,"trains_visited_twice":["train #0","train #2"],"trains_visited_ever":["train #0","train #1","train #2","train #3"]},"time":0.17461445600201841,"human_readable":"Best sched is $2765:[(train #0, train #2)($1225), (train #0, train #1)($1331), (train #2, train #3)($209)]. Solution took 0.17461445600201841s. 10 scheds generated"}';
// init_solution_from_json(params_json, solution_json);
</script>

<script type="text/javascript">
    $("a.train").popover({
        trigger: 'hover',
        placement: 'bottom',
        html: true,
        content: function() {
            return $("#popover").html();
        }

    });
</script>


<!-- Params JS -->
<script>

// Define a "Person" class that tracks its own name and children, and has a method to add a new child
function create_train(id, earliest_arrival, latest_departure) {
    if (earliest_arrival == undefined) earliest_arrival = null;
    if (latest_departure == undefined) latest_departure = null;
    return {
        id: id,
        earliest_arrival: earliest_arrival || null,
        latest_departure: latest_departure || null
    };
}

function create_cargo(source_train_id, target_train_id, box_count) {
    return {
        source_train_id: (source_train_id == undefined) ? 0 : source_train_id,
        target_train_id: (target_train_id == undefined) ? 1 : target_train_id,
        box_count: (box_count == undefined) ? 100 : box_count,
    };
}

function create_track(id) {
    return {
        id: id,
        track_to_storage_move_cost: ko.observable(id+1),
        storage_to_track_move_cost:ko.observable(id+1)
    };
}

// Here's my data model
var ViewModel = function(trains, cargos, tracks) {
    var self = this;


    /* Main properties */
    self.trains = ko.observableArray();
    self.cargos = ko.observableArray();
    self.tracks = ko.observableArray([]);
    self.track_to_track_move_costs = ko.observableArray([]);

    self.max_slot_count = ko.observable(Math.ceil(trains.length, tracks.length));
    self.objective_1_weight = ko.observable(3);
    self.objective_2_weight = ko.observable(2);
    self.objective_3_weight = ko.observable(1);
    self.solution_method = ko.observable('beam_search');
    self.beam_width = ko.observable(2);
    self.time_limit = ko.observable(10);
    self.arrange_trains = ko.observable(true);

    self.solving = ko.observable(false);

    /* Frontend-only properties*/
    self.storageTrackCostEqualsTrackStorageCost = ko.observable(false);
    self.isTrackMoveCostSymmetric = ko.observable(false);
    self.limitMaxSlotCount = ko.observable(false);


    /* Computed properties*/
    self.track_count = ko.computed(function() {
        return self.tracks().length;
    }, self);

    self.train_count = ko.pureComputed(function() {
        return self.trains().length;
    }, self);

    /* Frontend logic. Handlers */
    self.increaseTrackCount = function() {
        self.tracks.push(create_track(self.track_count()));
        self.setOptimalMaxSlotCount();
    };

    self.decreaseTrackCount = function() {
        self.tracks.pop();
        self.setOptimalMaxSlotCount();
    };

    self.increaseTrainCount = function() {
        self.trains.push(create_train(self.train_count()));
        self.setOptimalMaxSlotCount();
    };

    self.decreaseTrainCount = function() {
        self.trains.pop();
        self.setOptimalMaxSlotCount();
    };

    self.addCargo = function() {
        var random_source_id = getRandomInt(0, self.train_count()-1);
        var random_target_id = getRandomInt(0, self.train_count()-1);
        var random_box_count = getRandomInt(1, 100);
        self.cargos.push(create_cargo(random_source_id, random_target_id,random_box_count));
    };

    self.removeCargo = function(cargo) {
        self.cargos.remove(cargo);
    };


    /* Frontend logic. Subscriptions */
    self.track_count.subscribe(function(new_track_count) {
        var costs = [];
        for (var i = 0; i < new_track_count; i++) {
            track_costs = ko.observableArray([]);
            for (var j = 0; j < new_track_count; j++) {
                track_costs.push({
                    'track_from_id': i,
                    'track_to_id': j,
                    'cost': ko.observable((i == j) ? null : Math.abs(i-j))
                });
            }
            costs.push({'costs': track_costs});
        }
        self.track_to_track_move_costs(costs);
    });

    // if track_from_id and track_to_id are set, update cost[from][to] = cost[to][from]
    // if not, update all symmetric costs
    self.updateSymmetricTrackToTrackMoveCosts = function(track_from_id,track_to_id) {
        function update_symmetric(i,j) {
            var c = self.track_to_track_move_costs()[i].costs()[j].cost();
            self.track_to_track_move_costs()[j].costs()[i].cost(c);
        }

        if (self.isTrackMoveCostSymmetric()) {
            if (track_from_id && track_to_id) {
                update_symmetric(track_from_id,track_to_id);
            }
            else {
                for (var i = 0; i < self.track_count(); i++) {
                    for (var j = 0; j < self.track_count(); j++) {
                        var c = self.track_to_track_move_costs()[i].costs()[j].cost();
                        self.track_to_track_move_costs()[j].costs()[i].cost(c);
                    }
                }
            }
        }
    }
    self.isTrackMoveCostSymmetric.subscribe(function(newValue) {
        if (newValue == true) self.updateSymmetricTrackToTrackMoveCosts();
    });

    // if track_id is given, set for this specific track storage_to_track_move_cost = track_to_storage_move_cost
    // if not, for all tracks sets storage_to_track_move_cost = track_to_storage_move_cost
    self.updateSymmetricStorageToTrackMoveCosts = function(track_id) {
        if (self.storageTrackCostEqualsTrackStorageCost) {
            if (track_id) {
                var c = self.tracks()[track_id].track_to_storage_move_cost();
                self.tracks()[track_id].storage_to_track_move_cost(c);
            }
            else {
                ko.utils.arrayForEach(self.tracks(), function(track) {
                    track.storage_to_track_move_cost(track.track_to_storage_move_cost());
                });
            }
        }
    }
    self.storageTrackCostEqualsTrackStorageCost.subscribe(function(newValue) {
        if (newValue == true) self.updateSymmetricStorageToTrackMoveCosts();
    });

    // when changing manually, not allow to be < min
    self.max_slot_count.subscribe(function(newValue) {
        var min = Math.ceil(self.trains().length/self.tracks().length);
        if (self.max_slot_count() < min)
            self.max_slot_count(min);
    });


    /* Common functions */
    self.canEditTrackMoveCost = function(track_from_id, track_to_id) {
        if (track_from_id == track_to_id) return false;
        if (self.isTrackMoveCostSymmetric())
            return (track_to_id > track_from_id);
        else
            return true;
    };

    self.setOptimalMaxSlotCount = function() {
        var recommended = Math.ceil(self.trains().length/self.tracks().length) * 2;
        if (self.max_slot_count() < recommended)
            self.max_slot_count(recommended);
    };


    /* Data load/send */
    self.submit = function () {
        function getTrackToTrackMoveCosts() {
            // here we hope that self.track_to_track_move_costs contains costs in needed order
            // so we expect track_to_track_move_costs be like [
            //  [{from:0, to: 0, cost: N}, {from:0, to: 1, cost: N}, ... ]
            //  [{from:1, to: 0, cost: N}, {from:1, to: 1, cost: N}, ... ]
            // ]
            result = [];
            ko.utils.arrayForEach(self.track_to_track_move_costs(), function(track_to_track_move_cost) {
                cost_row = [];
                ko.utils.arrayForEach(track_to_track_move_cost.costs(), function(cost_info) {
                    cost_row.push(parseFloat(cost_info.cost()));
                });
                result.push(cost_row);
            });

            return result;
        }

        function getStorageToTrackMoveCosts() {
            // we expect that self.tracks() contains track 0, then track 1, ... (tracks are ordered)
            result = [];
            ko.utils.arrayForEach(self.tracks(), function(track) {
                result.push(parseFloat(track.storage_to_track_move_cost()));
            });
            return result;
        }

        function getTrackToStorageMoveCosts() {
            // we expect that self.tracks() contains track 0, then track 1, ... (tracks are ordered)
            result = [];
            ko.utils.arrayForEach(self.tracks(), function(track) {
                result.push(parseFloat(track.track_to_storage_move_cost()));
            });
            return result;
        }

        var params = {
            train_count: parseInt(self.train_count()),
            earliest_arrivals: self.trains().map(function(t) {return parseInt(t.earliest_arrival) || -1; }),
            latest_departures: self.trains().map(function(t) {return parseInt(t.latest_departure) || 999; }),
            cargos: self.cargos().map(function(c) {
                                        return {
                                            source_train_id: parseInt(c.source_train_id),
                                            target_train_id: parseInt(c.target_train_id),
                                            box_count: parseInt(c.box_count)
                                        }
                                      }),
            track_count: parseInt(self.track_count()),
            max_slot_count: parseInt(self.max_slot_count()),
            track_to_track_move_costs: getTrackToTrackMoveCosts(),
            storage_to_track_move_costs: getStorageToTrackMoveCosts(),
            track_to_storage_move_costs: getTrackToStorageMoveCosts(),
            objective_1_weight: parseFloat(self.objective_1_weight()),
            objective_2_weight: parseFloat(self.objective_2_weight()),
            objective_3_weight: parseFloat(self.objective_3_weight()),
            solution_method: self.solution_method(),
            beam_width: parseFloat(self.beam_width()),
            time_limit: parseInt(self.time_limit()),
            arrange_trains: self.arrange_trains(),

        };
        console.log(ko.toJSON(params));

        self.solving(true);
        $.ajax('/solve', {
            data: ko.toJSON({params: params}),
            contentType: 'application/json',
            dataType: 'json',
            type: 'POST',
            success: function(solution) {
                if (solution.error) {
                    alert(ko.toJSON(solution,null,2));
                }
                else if (solution.client_error) {
                    alert(solution.client_error);
                }
                else {
                    solution.best_sched = JSON.parse(solution.best_sched);
                    alert(solution.human_readable);
                    console.log(ko.toJSON(solution));
                    init_solution_from_json(ko.toJSON(params), ko.toJSON(solution))
                }
            },
            error: function( jqXHR, textStatus ) {
                alert( "Request failed: " + jqXHR.responseText );
            },
            fail: function( jqXHR, textStatus ) {
                alert( "Request failed: " + textStatus );
            },
            complete: function() {
                self.solving(false);
            }
        });
    }


    /* Model initialization */
    self.tracks(tracks);
    self.trains(trains);
    self.cargos(cargos);
    self.setOptimalMaxSlotCount();
};

// TODO: simplify init data

train0 = create_train(0);
train1 = create_train(1);
train2 = create_train(2);
train3 = create_train(3);
var trains = [
    train0,train1,train2,train3,
];

var cargos = [
    create_cargo(0,1,101),
    create_cargo(1,2,102),
    create_cargo(2,1,1021),
    create_cargo(2,0,103),
    create_cargo(1,3,104),
];

var tracks = [
    create_track(0),
    create_track(1)
];

params = new ViewModel(trains, cargos, tracks);

ko.applyBindings(params, $("#params-container").get(0));

params.isTrackMoveCostSymmetric(true);
params.storageTrackCostEqualsTrackStorageCost(true);
</script>

</body>
</html>